<div class="fullW thumbs_wrap paddingLR bglg">
	<div id="hidden"></div>
	<h3 class="colorbl centric">Projects of {{projectCtrl.user().name}}</h3>
<section class="thumbs_wrap" ng-class="{ 'col-md-4' : projectCtrl.myProjects.length, 'col-md-2' : !projectCtrl.myProjects.length}">
	<div class="padding10 fullW colorlb bgw borderLt box_shadow_dwn centric" style="margin-bottom:10px" ng-click="projectCtrl.$state.reload()">+Add Project</div>
	<div class="fullW bgw box_shadow_dwn borderLt" ng-repeat="project in projectCtrl.myProjects" style="margin-bottom:10px" ng-click="projectCtrl.editThis(project)">
		<img src="{{project.images[0]}}" width="100%"/>
		<div class="fullW padding10">
			<p class="size20"><b>{{project.name}}</b></p>
			<p ng-repeat="category in project.type.categories">size:{{category.size}}; cost:{{category.totalPrice}}</p>
		</div>
	</div>
</section>
<section class="thumbs_wrap col-md-8">

	<section class="fullW thumbs_wrap bgw borderLt">
		<div ng-repeat="step in projectCtrl.steps" class="thumbs_wrap valignOut col-xs-{{12/projectCtrl.steps.length}}" style="padding:20px 10px" ng-class="{colorblue: projectCtrl.uploadStep==($index+1)}">
				{{step.name}} ({{$index+1}}/{{projectCtrl.steps.length}})
		</div >
	</section>
	<section class="fullW thumbs_wrap bgw borderLt padding10" ng-repeat="step in projectCtrl.steps" ng-if="projectCtrl.uploadStep==step.number">
		<form name="projectForm">
			<div ng-include="'step'+step.number+'.html'"></div>
			<md-button class="md-primary" ng-hide="step.number==1" ng-click="projectCtrl.nextStep(-1)">Back</md-button>
			<md-button class="md-primary floatR" ng-disabled="projectForm.$invalid" ng-hide="step.number==projectCtrl.steps.length" ng-click="projectCtrl.nextStep(1)">Next ({{step.number}}/{{projectCtrl.steps.length}})</md-button>
			<button type="button" class="b2w floatR valignOut" ng-click="projectCtrl.editProject(projectCtrl.project)" ng-show="projectCtrl.project._id" style="padding: 10px" ng-disabled="projectForm.$invalid">
				<span style="padding:0px 10px">{{projectCtrl.savingStatus}}</span>
				<md-progress-circular class="md-warn md-hue-3" md-diameter="15px" ng-show="projectCtrl.saving"></md-progress>
			</button>
		</form>
	</section>
</section>
</div>

<script type="text/ng-template" id="step1.html">
	<div layout="row">
		<md-input-container flex="100">
			<label>Project Name</label>
			<input autofocus required name="name" ng-model="projectCtrl.project.name">
			<div ng-messages="projectForm.name.$error">
				<div ng-message="required">This is required.</div>
			</div>
		</md-input-container>
	</div>

	<md-input-container class="md-block fullW thumbs_wrap">
		<label>Description</label>
		<input md-maxlength="100" required md-no-asterisk name="description" ng-model="projectCtrl.project.info">
		<div ng-messages="projectForm.description.$error">
			<div ng-message="required">This is required.</div>
			<div ng-message="md-maxlength">The description must be less than 100 characters long.</div>
		</div>
	</md-input-container>
	<div class="fullW thumbs_wrap">
		<label class="floatL fullW thumbs_wrap">Project Status</label>
		<md-radio-group ng-model="projectCtrl.project.status">
	      	<md-radio-button value="1" class="md-primary col-sm-4">Ongoing</md-radio-button>
	      	<md-radio-button value="2" class="col-sm-4"> Upcoming </md-radio-button>
	      	<md-radio-button value="0" class="col-sm-4">Completed</md-radio-button>
	    </md-radio-group>
	</div>

	<md-input-container class="fullW">
        <label>Mail Id</label>
        <input required type="email" name="mailId" ng-model="projectCtrl.project.mailId" ng-pattern="/^.+@.+\..+$/" />

        <div ng-messages="projectForm.mailId.$error" role="alert">
          <div ng-message-exp="['required','pattern']">
            This is required and should look like an email.
          </div>
        </div>
      </md-input-container>
</script>
<script type="text/ng-template" id="step3.html">
<div class="fullW thumbs_wrap">
	<label class="floatL fullW thumbs_wrap">Choose one</label>
	<md-radio-group ng-model="projectCtrl.project.type.type">
      	<md-radio-button value="1" class="md-primary col-sm-3">Land</md-radio-button>
      	<md-radio-button value="2" class="col-sm-3"> Flat </md-radio-button>
      	<md-radio-button value="3" class="col-sm-3">Villa</md-radio-button>
      	<md-radio-button value="4" class="col-sm-3">Row Houses</md-radio-button>
    </md-radio-group>
</div>
<hr/>

<div layout="row" class="fullW floatL">
	<md-input-container flex="50">
		<label>Total Number of Units</label>
		<input required type="number" name="nUnits" ng-model="projectCtrl.project.type.nUnits" min="0">
		<div ng-messages="projectForm.nUnits.$error">
			<div ng-message="required">This is required.</div>
			<div ng-message="min">Number of units cannot be negative.</div>
		</div>
	</md-input-container>
	<md-input-container flex="50">
		<label>Number of unsold units</label>
		<input required type="number" name="nUnsold" ng-model="projectCtrl.project.type.nUnsold" min="0" max="projectCtrl.project.type.nUnits">
		<div ng-messages="projectForm.nUnsold.$error">
			<div ng-message="required">This is required.</div>			
			<div ng-message="min">Cannot be negative!</div>
			<div ng-message="max">Cannot be more than total number of units.</div>
		</div>
	</md-input-container>
</div>
<div class="fullW floatL" ng-if="projectCtrl.project.type.type!=2"><label>Land Size Range</label></div>
<div layout="row" class="fullW floatL" ng-if="projectCtrl.project.type.type!=2">
	<md-input-container flex="50">
		<label>Maximum</label>
		<input required type="number" name="lSizeMax" ng-model="projectCtrl.project.type.lSize.max" min="0">
		<div ng-messages="projectForm.lSizeMax.$error">
			<div ng-message="required">This is required.</div>			
			<div ng-message="min">Cannot be negative!</div>
		</div>
	</md-input-container>
	<md-input-container flex="50">
		<label>Minimum</label>
		<input required type="number" name="lSizeMin" ng-model="projectCtrl.project.type.lSize.min" min="0" max="projectCtrl.project.type.lSize.max" ng-disabled="!projectCtrl.project.type.lSize.max"> 
		<div ng-messages="projectForm.lSizeMin.$error">
			<div ng-message="required">This is required.</div>
			<div ng-message="min">Cannot be negative!</div>
			<div ng-message="max">Cannot be equal or more than maximum</div>
		</div>
	</md-input-container>
</div>	
<div class="fullW floatL" ng-if="projectCtrl.project.type.type!=1"><label>Building Size Range</label></div>
<div layout="row" class="fullW floatL" ng-if="projectCtrl.project.type.type!=1">
	<md-input-container flex="50">
		<label>Maximum</label>
		<input required type="number" name="lSizeMax" ng-model="projectCtrl.project.type.bSize.max" min="0">
		<div ng-messages="projectForm.bSizeMax.$error">
			<div ng-message="required">This is required.</div>			
			<div ng-message="min">Cannot be negative!</div>
		</div>
	</md-input-container>
	<md-input-container flex="50">
		<label>Minimum</label>
		<input required type="number" name="lSizeMin" ng-model="projectCtrl.project.type.bSize.min" min="0" max="projectCtrl.project.type.bSize.max" ng-disabled="!projectCtrl.project.type.bSize.max"> 
		<div ng-messages="projectForm.bSizeMin.$error">
			<div ng-message="required">This is required.</div>
			<div ng-message="min">Cannot be negative!</div>
			<div ng-message="max">Cannot be equal or more than maximum</div>
		</div>
	</md-input-container>
</div>	

<div class="fullW thumbs_wrap">
	<md-input-container class="md-block" flex="100" ng-if="projectCtrl.project.type.type==1">
        <label>Layout Number</label>
        <input name="layoutNo" ng-model="projectCtrl.project.type.layoutNo" required>

        <div ng-messages="projectForm.layoutNo.$error" role="alert" multiple>
          <div ng-message="required" class="my-message">Layout number is compulsory</div>
        </div>
		</md-input-container>
	<div layout="row" ng-if="projectCtrl.project.type.type!=1">
		<md-input-container flex="50" ng-if="projectCtrl.project.type.type!=3">
			<label>UDS %</label>
			<input required name="uds" ng-model="projectCtrl.project.type.uds" type="number" min="0" max="100">
			<div ng-messages="projectForm.uds.$error">
				<div ng-message="required">This is required.</div>
				<div ng-message="min">Cannot be negative!</div>
				<div ng-message="max">Maximum 100%</div>
			</div>
		</md-input-container>
		<md-input-container flex="50">	
			<label>Construction Progress %</label>
			<input required name="progress" ng-model="projectCtrl.project.type.progress" type="number" min="0" max="100">
			<div ng-messages="projectForm.progress.$error">
				<div ng-message="required">This is required.</div>
				<div ng-message="min">Cannot be negative!</div>
				<div ng-message="max">Maximum 100%</div>
			</div>
		</md-input-container>
	</div>
</div>
<br/>
<div class="fullW floatL"><label>Rate/Sq.Feet</label></div>
<div layout="row" class="fullW floatL">
	<div ng-hide="true" ng-bind="projectCtrl.project.type.rps.total=projectCtrl.project.type.rps.base+projectCtrl.project.type.rps.devCharges+projectCtrl.project.type.rps.others"></div>
	<md-input-container flex="34">
		<label>Base Price</label>
		<input required type="number" name="base" ng-model="projectCtrl.project.type.rps.base">
		<div ng-messages="projectForm.base.$error">
			<div ng-message="required">This is required.</div>
		</div>
	</md-input-container>
	<md-input-container flex="33">
		<label>Development Charges</label>
		<input required type="number" name="devCharges" ng-model="projectCtrl.project.type.rps.devCharges">
		<div ng-messages="projectForm.devCharges.$error">
			<div ng-message="required">This is required.</div>
		</div>
	</md-input-container>
	<md-input-container flex="33">
		<label>Other Charges</label>
		<input required type="number" name="others" ng-model="projectCtrl.project.type.rps.others">
		<div ng-messages="projectForm.others.$error">
			<div ng-message="required">This is required.</div>
		</div>
	</md-input-container>
</div>	
<div class="fullW floatL"><label>Budget Range</label></div>
<div layout="row" class="fullW floatL">
	<md-input-container flex="50">
		<label>Maximum</label>
		<input required type="number" name="budgetMax" ng-model="projectCtrl.project.type.budget.max" min="0">
		<div ng-messages="projectForm.budgetMax.$error">
			<div ng-message="required">This is required.</div>			
			<div ng-message="min">Cannot be negative!</div>
		</div>
	</md-input-container>
	<md-input-container flex="50">
		<label>Minimum</label>
		<input required type="number" name="budgetMin" ng-model="projectCtrl.project.type.budget.min" min="0" max="projectCtrl.project.type.budget.max" ng-disabled="!projectCtrl.project.type.budget.max"> 
		<div ng-messages="projectForm.budgetMin.$error">
			<div ng-message="required">This is required.</div>
			<div ng-message="min">Cannot be negative!</div>
			<div ng-message="max">Cannot be equal or more than maximum</div>
		</div>
	</md-input-container>
</div>	
</script>

<!--Map-->
<script type="text/ng-template" id="step2.html">
	<div class="fullW thumbs_wrap">
		<label>Search places here</label>
        <input autofocus places-auto-complete placeholder="Search..." class="borderLt" ng-model="projectCtrl.locationName" component-restrictions="{country:'in'}"types="{{projectCtrl.types}}" on-place-changed="projectCtrl.placeChanged()" style="padding:5px;width:100%;font-size:20px" />
    </div>
	<div ng-init="projectCtrl.setMap()" map-lazy-load="https://maps.google.com/maps/api/js"
    map-lazy-load-params="{{projectCtrl.googleMapsUrl}}" class="fullW thumbs_wrap">
      	<ng-map center='current-position' geo-fallback-center="[40.74, -74.18]" style="height:60vh" geo-callback="projectCtrl.getCenter(projectCtrl)">
       		<marker position="{{projectCtrl.coordinates}}" animation="Animation.BOUNCE" centered="true" draggable="true" on-dragend="projectCtrl.getCurrentLocation(projectCtrl)"></marker>
     	</ng-map>
    </div>
    <p class="padding10 centric fullW floatL colorg">
    	<b>Geo Location: {{projectCtrl.project.location.lat | number:5}}, {{projectCtrl.project.location.lng | number:5}}</b>
    	<br/>
    	// {{projectCtrl.coordinates}}
    </p>
	<md-input-container class="fullW">
		<label>Address</label>
		<input required type="text" name="locationName" ng-model="projectCtrl.project.location.name"> 
		<div ng-messages="projectForm.locationName.$error">
			<div ng-message="required">This is required.</div>
		</div>
	</md-input-container>
</script>
<script type="text/ng-template" id="step4.html">

	<div layout="row" layout-wrap flex class="fullW thumbs_wrap">
    	<div class="demo-select-all-checkboxes" flex="100">

			<md-input-container flex="50">
				<label>Legal Cleared by</label>
				<md-select name="legalBy" ng-model="projectCtrl.project.legalBy" required md-no-asterisk="false">
					<md-option value="Poornima & Saradha Associates">Poornima & Saradha Associates</md-option>
					<md-option value="B&C Associates">B&C Associates</md-option>
					<md-option value="Rank Associates">Rank Associates</md-option>
					<md-option value="Sangaraham Associates">Sangaraham Associates</md-option>
					<md-option value="MGK Associates">MGK Associates</md-option>
					<md-option value="Sreenidhi Managaement services">Sreenidhi Managaement services</md-option>
				</md-select>
			</md-input-container>

      		<md-input-container flex="50">
				<label>Technical Cleared by</label>
				<md-select name="techBy" ng-model="projectCtrl.project.techBy" required md-no-asterisk="false">
					<md-option value="Anbusivam Associates">Anbusivam Associates</md-option>
					<md-option value="Sreenidhi Managaement services">Sreenidhi Managaement services</md-option>
					<md-option value="Ravichandran Associates">Ravichandran Associates</md-option>
					<md-option value="Stiffeners">Stiffeners</md-option>
					<md-option value="Mohandass Associates">Mohandass Associates</md-option>
					<md-option value="Belliappa associates">Belliappa associates</md-option>
				</md-select>
			</md-input-container>
      		<md-checkbox ng-model="projectCtrl.project.approvals.dtcp">
       		DTCP
      		</md-checkbox>
      		<md-checkbox ng-model="projectCtrl.project.approvals.cmda">
       		CMDA
      		</md-checkbox>
      		<md-checkbox ng-model="projectCtrl.project.approvals.lpa">
       		LPA
      		</md-checkbox>
      		<md-checkbox ng-model="projectCtrl.project.approvals.panchayath">
       		Panchayath
      		</md-checkbox>
    	</div>
  	</div>
	<div>
		<md-button type="button" ng-click="projectCtrl.manageProject(projectCtrl.project)" ng-if="!projectCtrl.project._id">Submit</md-button>
	</div>
</script>

<script type="text/ng-template" id="step5.html">
	<div class="bgw thumbs_wrap fullW padding10" style="margin: 10px 0px" >
		<h4>Images of Project</h4>
		<upload-file heading="1) Image from Internal view" key="imagesInt/{{projectCtrl.project._id}}_1.jpg"></upload-file>
		<upload-file heading="2) Image from Internal view" key="imagesInt/{{projectCtrl.project._id}}_2.jpg"></upload-file>
		<upload-file heading="1) Image from External view" key="imagesExt/{{projectCtrl.project._id}}_1.jpg"></upload-file>
		<upload-file heading="2) Image from External view" key="imagesExt/{{projectCtrl.project._id}}_2.jpg"></upload-file>

		<upload-file heading="Offers" key="offer/{{projectCtrl.project._id}}.jpg"></upload-file>
		
		<label>Add Offers - You can select from below or type new ones and press enter for each</label>
		<md-chips ng-model="projectCtrl.project.offers" md-removable="true" placeholder="Type here..."></md-chips>
		<div class="fullW" ng-if="projectCtrl.project.type.type">
  			<span class="thumbs_wrap cursorp" ng-show="!(projectCtrl.project.offers.indexOf(offer)+1)" ng-repeat="offer in projectCtrl.offers" style="padding:5px 10px;border:1px solid #ddd; border-radius:5px;margin:5px 0px" ng-click="projectCtrl.addOffer($index)">{{offer}}</span>
  		</div>
	</div>	
</script>