.thumb {
    width: auto;
    height:200px;
    margin: 0px auto;
    display: block;
    position: relative;
    background: white;
    padding: 4px;
    border: 1px solid #ddd;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}
form .progress {
    line-height: 15px;
}
.progress {
    display: inline-block;
    width: 100%;
}
.progress div {
    font-size: smaller;
    padding: 5px 0px;
    font-weight: bold;
    background: #011461;
    border: 0px;
    color: #adadad;
    text-align: center;
}