


<div style="background:black" class="fullW thumbs_wrap">
  
  <section style="height:100vh;min-height:500px;background-image:url(http://gulshanhomz.com/img/bellina/7.jpg);opacity:0.7;margin-bottom:-100vh;position:fixed" class="fullW thumbs_wrap bgImage"></section>
  <section class="fullW thumbs_wrap" style="height:100vh;min-height:500px">

    <div class="fullW thumbs_wrap">
      <div class="fullW thumbs_wrap" style="min-height:100vh">
        <div class="padding10 fullW thumbs_wrap bgw " style="position:absolute;z-index:1;top:50px">
          <div class="thumbs_wrap col-md-2" style="border-right:1px solid #efefef;padding:18px 0px">Loan Estimate: {{ $ctrl.getCurrentUser.loanEstimate }}</div>
          <div class="thumbs_wrap col-md-5" style="border-right:1px solid #efefef">
            <md-slider-container>
              <span style="min-width:100px">Cost (in Lakhs)</span>
              <md-slider flex min="0" max="1000" ng-model="$ctrl.filter.cost" aria-label="red" id="red-slider">
              </md-slider>
              <md-input-container>
                <input flex type="number" ng-model="$ctrl.filter.cost" aria-label="red" aria-controls="red-slider" style="padding:10px 0px">
              </md-input-container>
            </md-slider-container> 
          </div>      
          <div class="col-md-5" style="border-right:1px solid #efefef">
            <md-slider-container>
              <span style="min-width:160px">Distance from Pin (in Km)</span>
              <md-slider flex min="0" max="100" ng-model="$ctrl.filter.distance" aria-label="red" id="red-slider">
              </md-slider>
              <md-input-container>
                <input flex type="number" ng-model="$ctrl.filter.distance" aria-label="red" aria-controls="red-slider" style="padding:10px 0px">
              </md-input-container>
            </md-slider-container> 
          </div>
        </div>
        <div map-lazy-load="https://maps.google.com/maps/api/js"
        map-lazy-load-params="{{$ctrl.googleMapsUrl}}" class="fullW thumbs_wrap">
          <ng-map center='current-position' geo-fallback-center="[40.74, -74.18]" style="height:100vh" geo-callback="$ctrl.getCenter($ctrl)">
            <marker position="{{$ctrl.coordinates}}" animation="Animation.BOUNCE" centered="true" draggable="true" on-dragend="$ctrl.getCurrentLocation($ctrl)"></marker>
            <custom-marker ng-repeat="project in $ctrl.projects | filter:$ctrl.markerFilter" position="{{project.location.lat}},{{project.location.lng}}" on-click="$ctrl.showProject(project)">{{project._id}}
              <img src="http://images.all-free-download.com/images/graphiclarge/green_house_icon_vector_280701.jpg" id="dpsm" style="position:absolute;margin-left:-10px"/>
            </custom-marker>
          </ng-map>
        </div>

        <input places-auto-complete ng-model="$ctrl.address" component-restrictions="{country:'in'}" types="{{$ctrl.types}}" on-place-changed="$ctrl.placeChanged()" style="padding:5px;width:100%;font-size:20px;position:absolute;bottom:0px;left:0px"/>
      </div>
      <div style="position:absolute;min-height:100vh;background:rgba(255,255,255,0.7)" class="fullW" ng-hide="$ctrl.Auth.isLoggedInSync()">
        <h2 class="centric colorbl">Welcome to Nest Hunt</h2>
        <p class="centric colorbl">Give us the following details and we will show the best properties you are eligible for</p>
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <form name="userForm" id="buyerForm" ng-submit="$ctrl.register(userForm, $ctrl.user)">
            <div layout="row">
              <md-input-container flex="50">
                <label>FirstName</label>
                <input required type="text" name="name" ng-model="$ctrl.user.name">
                <div ng-messages="userForm.name.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
              <md-input-container flex="50">
                <label>Phone Number</label>
                <input required type="number" name="phone" ng-model="$ctrl.user.phone" min-length="10" max-length="10" ng-pattern="/^[0-9]{10}$/">
                <div ng-messages="userForm.phone.$error">
                  <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">This is required and should look like a phone number - ##########</div>
                </div>
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container flex="50">
                <label>Gross Income</label>
                <input required type="number" name="income" ng-model="$ctrl.user.income" min="0">
                <div ng-messages="userForm.income.$error">
                  <div ng-message-exp="['required','min']">This is required.</div>
                </div>
              </md-input-container>
              <md-input-container flex="50">
                <label>Current EMI</label>
                <input required type="number" name="currentEmi" ng-model="$ctrl.user.currentEmi" min="0"
               max="$ctrl.user.income">
                <div ng-messages="userForm.currentEmi.$error">
                  <div ng-message-exp="['required', 'min', 'max']">This is required and should be between 0 and max income</div>
                </div>
              </md-input-container>
            </div>
            <div layout="row">
              <md-input-container flex="50">
                <label>Email</label>
                <input required type="email" name="email" ng-model="$ctrl.user.email" ng-pattern="/^.+@.+\..+$/" minlength="10" maxlength="100">
                <div ng-messages="userForm.email.$error">
                  <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                    Your email must be between 10 and 100 characters long and look like an e-mail address.
                  </div>
                </div>
              </md-input-container>
              <md-input-container flex="50">
                <label>Password</label>
                <input required name="password" ng-model="$ctrl.user.password" min="6" type="password">
                <div ng-messages="userForm.password.$error">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="min">Minimum 6 characters</div>
                </div>
              </md-input-container>
            </div>
            <div class="fullW thumbs_wrap valignOut">
              <md-button type="submit" ng-disabled="userForm.$invalid" class="md-raised">SignUp</md-button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section style="height:100vh;min-height:500px;" class="fullW thumbs_wrap bglg">

    <div class="fullW thumbs_wrap centric colorbl">
        <div class="fullW thumbs_wrap centric">
          <h1>Nest Hunt</h1>
          <p>Buy your next home with us</p>
        </div>
    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="col-md-4 padding10" ng-repeat="project in $ctrl.projects">
        <div class="fullW thumbs_wrap bgw box_shadow_dwn borderLt padding10">
          <h4>{{project.name}}</h4>
          <p ng-repeat="category in project.type.categories">size:{{category.size}}; cost:{{category.totalPrice}}</p>
        </div>
      </div>
    </div>
  </section>
</div>


<script type="text/ng-template" id="viewProject.html">

    
<md-dialog aria-label="imageModal" class="fullDialog" style="background:rgb(255,255,255)">
    <button type="button" class="close" ng-click="cancel()" style="font-size:40px;color:black">&#10005;</button>
    <div id="img_view" class="valignOut col-md-8 bgb" style="min-height:100vh">


          <div class="fullW">
            <ng-image-gallery
              images="images"
              methods="methods"
              thumbnails="true"
              inline="true"
              img-bubbles="false"
              bg-close="true"
              bubbles="true"
              img-anim="fadeup"
              conf="conf"
              on-open="opened();"
              on-close="closed();"
          ></ng-image-gallery>
          </div>
      </div>
      <div class="col-md-4">
        <h2>{{project.name}}</h2>
        <p>{{project.info}}</p>
        <p>Categories</p>
        <p ng-repeat="category in project.type.categories">
          Size: {{category.size}} | Price: {{category.totalPrice}}
        </p>
        <md-button class="md-raised md-warn">Buy</md-button>
      </div>
  </md-dialog>
</script>