#buyerForm md-input-container{
  padding: 0px 10px
}
#buyerForm input{
  height: 50px;
  border: 2px solid #e0e0e0;
  color: grey;
  padding: 0px 5px
}
#buyerForm md-input-container label:not(.md-container-ignore){
  position: absolute;
  bottom: 84%;
  left: 15px;
  color: grey;
  right: auto;
}
#buyerForm label{
  z-index: 10;
  color: black;
}
#buyerForm div[ng-message]{
  color: #ddd
}
#buyerForm div[ng-message-exp]{
  color: #ddd
}

#map {
  height: 400px;
  width: 100%;
 }

.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.navbar-text {
  margin-left: 15px;
}


