<div style="background:url(http://gulshanhomz.com/img/bellina/7.jpg)" class="fullW thumbs_wrap">
	<div id="hidden"></div>
	<br/>
<section class="col-md-2"></section>
<section class="col-md-8 padding10 borderLt thumbs_wrap bgw"sty	>
	<h3 class="colorbl">Personal Information</h3>
	<hr/>
	<form name="userForm" ng-submit="profile.manageBuilder(profile.user)">
		<div layout="row">
			<md-input-container flex="50">
				<label>First Name</label>
				<input required name="name" ng-model="profile.user.name">
				<div ng-messages="userForm.name.$error">
					<div ng-message="required">This is required.</div>
				</div>
			</md-input-container>

			<md-input-container flex="50">
				<label>Last Name</label>
				<input required name="lastname" ng-model="profile.user.lastname">
				<div ng-messages="userForm.lastname.$error">
					<div ng-message="required">This is required.</div>
				</div>
			</md-input-container>
		</div>
		<div layout="row">
			<md-input-container class="md-block" flex-gt-sm ng-show="profile.user.role=='builder'">
	          	<label>Corporate Identification Number (e.g. U99999AA9999AAA999999)</label>
	          	<input name="cin" ng-model="profile.user.cin" minlength="21" maxlength="21" required ng-pattern="/^[A-Z]{1}[0-9]{5}[A-Z]{2}[0-9]{4}[A-Z]{3}[0-9]{6}$/"/>

	          	<div ng-messages="userForm.cin.$error">
	          		<div ng-message-exp="['minlength', 'maxlength','pattern']">
			            CIN number should have 21 characters and should look like a CIN number with all capitals
			          </div>
	            	<div ng-message="required">This is required.</div>
	          	</div>
	        </md-input-container>

			<md-input-container class="md-block" flex-gt-sm>
				<label><span ng-if="profile.user.role=='builder'">Registered</span> Phone Number (e.g. 9999999999)</label>
				<input required name="phone" ng-model="profile.user.phone" ng-pattern="/^[0-9]{10}$/" />

				<div ng-messages="userForm.phone.$error">
					<div ng-message="pattern">Please enter a valid phone number (e.g. 932345221x).</div>
				</div>
			</md-input-container>
		</div>
		

		<md-input-container class="md-block">
			<label><span ng-if="profile.user.role=='builder'">Registered</span> Address</label>
			<input md-maxlength="100" required name="address" ng-model="profile.user.address">
			<div ng-messages="userForm.address.$error">
				<div ng-message="required">This is required.</div>
				<div ng-message="md-maxlength">The description must be less than 100 characters long.</div>
			</div>
		</md-input-container>
		<div layout="row">
			<md-input-container flex="50">
				<label>Pan (e.g. AAAAA9999A)</label>
				<input required name="pan" ng-model="profile.user.pan" ng-pattern="/^[A-Z]{5}[0-9]{4}[A-Z]{1}$/">
				<div ng-messages="userForm.pan.$error">
					<div ng-message="required">This is required.</div>				
					<div ng-message="pattern">Pan Number pattern should be AAAAA9999A (Capital letters)</div>
				</div>
			</md-input-container>
			<md-input-container flex="50">
				<label>Webiste (e.g. www.nesthunt.com)</label>
				<input required name="website" ng-model="profile.user.website">
				<div ng-messages="userForm.website.$error">
					<div ng-message="required">This is required.</div>
				</div>
			</md-input-container>
		</div>
		<div class="valignOut fullW colorr" >
			{{profile.savingStatus}}
			<md-progress-circular class="md-hue-2" md-diameter="20px" ng-show="profile.saving">
		</div>
		<div>
			<md-button type="submit" class="md-raised md-primary floatL" ng-disabled="userForm.$invalid">Save</md-button>
			<a href="/project/{{profile.user._id}}" ng-if="profile.user.role=='builder'"><md-button type="submit" class="md-raised floatR" >Manage Projects >></md-button></a>
		</div>
	</form>
</section>
<section class="col-md-2"></section>
</div>